.error-container {
  height: 37.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-container h1 {
  font-size: 6.9rem;
  color: var(--dark-blue);
}

.error-container h2 {
  font-size: 35px;
}
