.auth-form {
  width: 18rem;
  max-width: 90%;
  margin: auto;
  padding: 3rem 0;
  display: block;
}

.form-control {
  margin: 1rem 0;
}

.auth-logo-container {
  margin: 1rem;
  text-align: center;
  padding: 0 0 0.6rem 1rem;
}

.form-control label,
.form-control input,
.form-control select {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 100%;
}
.form-control label {
  padding-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.form-control input,
.form-control select {
  border: 1px solid #a1a1a1;
  padding: 0.1rem;
  font-size: 11px;
  border-radius: 0.1rem;
  margin-bottom: 0.1rem;
}

.form-control input:focus {
  outline-color: var(--dark-blue);
}

.auth-btn {
  width: 100%;
  font-size: 14px;
  margin-top: 1rem;
  padding: 0.3rem;
  color: #fff;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 0.1rem;
}

.auth-alert-btn {
  background-color: var(--red);
}
