table {
  border-top: 2px solid #555;
  border-collapse: collapse;
  font-size: 10px;
  margin: auto;
}

table.max-width {
  width: 100%;
}

table.has-margin {
  margin: auto;
}

section {
  display: inline;
}

th,
td {
  padding: 0 3px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table input,
table select {
  height: 16px;
  font-size: 10px;
  border: 1px solid rgba(59, 59, 59);
  border-radius: 2px;
}

table textarea {
  margin: 0 5px;
}

.index-table-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.home-table {
  margin: 0;
}

.home-table tr {
  height: 30px;
}

.home-table th,
.home-table td {
  border: thin solid #bbb;
  font-size: 11px;
}

.home-table-team {
  height: 30px;
  background-color: var(--dplan-yellow);
}

.home-table-header {
  background-color: #81807f;
  color: #fff;
}

.team-total-table {
  background-color: #ffffd1;
}

.h-header {
  font-weight: bold;
  text-align: center;
  width: 130px;
  height: 31px;
  background-color: var(--light-blue);
}

.h-content {
  min-width: 200px;
  height: 31px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
}

input.max-width {
  width: 100%;
}

input.max-ninety-width {
  width: 90%;
}

.h-content input[type="month"],
.h-content input[type="date"] {
  width: auto;
}

.h-part {
  margin-top: 20px;
}

.h-part input[type="radio"] {
  width: 10px;
  height: 10px;
}

table .input-num {
  text-align: right;
}

.v-part {
  margin-top: 20px;
}

.v-part th {
  border: 1px solid #999;
}

.v-part td {
  padding: 3px;
  text-align: center;
  border: 1px solid #999;
}

.v-header {
  padding: 3px 1px;
  font-weight: bold;
  background-color: var(--light-green);
}

.v-total {
  background-color: #ddd;
  padding: 4px 6px;
}

.submit-btns button {
  margin-right: 5px;
}

th.xs {
  width: 50px;
}

th.s {
  width: 75px;
}

th.m {
  width: 100px;
}

th.xl {
  width: 130px;
}

th.xxl {
  width: 180px;
}

.result-part {
  height: 75vh;
  overflow: auto;
  margin: 20px 30px;
}

.error-border {
  border-color: var(--red);
}

.excel-download {
  font-size: 12px;
  cursor: pointer;
  color: blue;
}

.excel-download:hover {
  text-decoration-line: underline;
}
