table {
  border-top: 1px solid #bbb;
  border-collapse: collapse;
  font-size: 12px;
}

table.max-width {
  width: 100%;
}

section {
  display: inline;
}

th,
td {
  padding: 0.2rem 0.4rem;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

table input,
table select {
  margin: 0.1rem;
  height: 1.3rem;
  font-size: 12px;
  border: 1px solid rgba(59, 59, 59);
  border-radius: 2px;
}

table textarea {
  margin: 0 0.3rem;
}

.index-table-container {
  margin-top: 0.9rem;
  display: flex;
  justify-content: center;
}

.home-table {
  margin: 0;
}

.home-table tr {
  height: 1.9rem;
}

.home-table th,
.home-table td {
  border: thin solid #bbb;
  font-size: 12px;
}

.home-table-team-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 60vw;
  padding-bottom: 10px;
}

.home-table-team {
  height: 1.9rem;
  background-color: var(--dplan-yellow);
}

.home-table-header {
  background-color: #81807f;
  color: #f8f8ff;
}

.team-total-table {
  background-color: #ffffd1;
}

.h-header {
  font-weight: bold;
  text-align: center;
  width: 10rem;
  background-color: #fff385;
}

.h-content {
  min-width: 16rem;
  text-align: left;
  padding: 0.2rem 0.6rem;
}

input.max-width {
  width: 100%;
}

input.max-sixty-width {
  width: 60%;
}

.h-content input[type="month"],
.h-content input[type="date"] {
  width: auto;
}

.h-part {
  margin-top: 1.2rem;
}

.h-part input[type="radio"] {
  width: 0.6rem;
  height: 0.6rem;
}

table .input-num {
  text-align: right;
  padding: 0.2rem;
}

.v-part {
  margin: 1.2rem auto 0.4rem;
}

.v-part th {
  border: 1px solid #999;
  padding: 0.2rem;
}

.v-part td {
  padding: 0.2rem 0.5rem;
  text-align: center;
  border: 1px solid #999;
}

.v-header {
  padding: 0.2rem;
  color: #f8f8ff;
  background-color: #595959;
}

.v-total {
  background-color: #ddd;
  padding: 0.2rem 0.4rem;
}

.submit-btns button {
  margin-right: 0.3rem;
}

th.xs {
  width: 3.1rem;
}

th.s {
  width: 4.7rem;
}

th.m {
  width: 6.3rem;
}

th.xl {
  width: 8.2rem;
}

th.xxl {
  width: 11.3rem;
}

.sort-part {
  margin: 1.3vw 1.1vw 0.4rem;
}

.result-part {
  display: inline-block;
  overflow: auto;
  margin: 0 1.1vw 1.3vw;
  padding-right: 0.7rem;
  height: calc(100% - 3rem);
}

.scrollable {
  overflow-x: auto;
  overflow-y: auto;
  width: calc(100% - 2.8rem);
  white-space: nowrap;
  padding-bottom: 0.6rem;
}

.text-overflow {
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error-border {
  border-color: var(--red);
}

.excel-download {
  display: inline;
  padding: 0.1rem 0.2rem;
  margin: 0.8rem 0 0.4rem;
  border: 1px solid #999;
  border-radius: 0.2rem;
  font-size: 10px;
  cursor: pointer;
  color: var(--dark-blue);
}

.excel-download:hover {
  text-decoration-line: underline;
}

.user-table-container {
  text-align: center;
  margin: 0.6rem 1.2rem;
}

.user-team-table {
  display: inline-block;
  margin: 1.2rem;
}

.user-team-table table {
  margin: 0;
}

.team-table-header {
  height: 1.9rem;
  background-color: var(--dplan-yellow);
  padding: 0 3.1rem;
}

.user-team-table tr {
  height: 1.9rem;
}

.user-team-table th,
.user-team-table td {
  border: thin solid #bbb;
  font-size: 12px;
}

.leader {
  font-weight: bold;
  background-color: #ffffd1;
}

.user-cell {
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  text-align: center;
}

.blocked {
  background-color: #ccc;
}
